/* DetailPage.css */

/* DetailPage.css */

.skeleton-loader {
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  min-width: 800px;
}

.skeleton-detail-card{
  width: 90%;
  height: 485px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-bottom: 20px;
}

.skeleton-gaccrel{
  width: 90%;
  height: 100%;
}

.skeleton-accordion-detailG,
.skeleton-related-prod
 {
  width: 55%;
  height: 150px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-right: 10px;
}

.skeleton-youtube{
  width: 55%;
  height: 300px;
  background-color: #e0e0e0;
  border-radius: 10px;
  margin-right: 10px;
}



.all-details {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  /* border: 1px solid green; */
}
.gaccrel {
  width: 90% !important;
  height: 100%;
}

.detail-card {
  width: 90%;

}
.accordion-detailG {
  width: 55%;
}
.relate-p {
  width: 35%;
  margin-top: 40px;
  /* max-height: 1100px; */
}
.youtube-g {
  width: 55%;
}
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 370px) and (max-width: 767px) {
 .detail-card {
    width: 90%;
  }
  .accordion-detailG {
    width: 100%;
  }
  .relate-p {
    width: 100%;
    margin-top: 40px;
    max-height: 100%;
  }
  .youtube-g {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 767px) and (max-width: 1100px) {
    .all-details {
        gap: 20px;
        /* border: 1px solid green; */
      }

    .detail-card {
        width: 90%;
      }
      .accordion-detailG {
        width: 100%;
      }
      .relate-p {
        width: 100%;
        margin-top: 40px;
        max-height: 100%;
      }
      .youtube-g {
        width: 100%;
        margin-top: 30px;
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
}