
/* .accordion-item {
    border: none !important; 
}  */
/* .accordion-button::after {
    background-image: url("../assets/images/Vector_Accordion_Down.png") !important;
  }

  .accordion-button:not(.collapsed)::after {
    background-image: url("../assets/images/Vector_Accordion_Up.png") !important;
  }   */
  .accordion-button:focus {
    /* z-index: 3;
    outline: 0; */
    box-shadow: none !important;
}
